body {
    background-color: rgb(25, 1, 1);
    margin: 0;
    padding: 0;
}

#logotipo {
    width: 100px;
}

header {
    display: flex;
    background-color: rgba(0, 0, 0);
    align-items: center;
    justify-content: space-between;
}

.navbar {
    padding-inline: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar a {
    margin: 10px;
    padding: 20px 120px;
    font-size: 25px;
    color: antiquewhite;
    text-decoration: none;
    text-align: center;
    border: 2px solid antiquewhite;
    border-radius: 10px;
    flex: 1;
}

.navbar a:hover {
    color: brown;
    background-color: rgba(22, 22, 22, 0.8);
}

.conteudo {
    background-color: rgb(61, 61, 61, 0.8);
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    margin-inline: auto; 
    padding: 20px; 
    max-width: 70%; 
}

#nome {
    font-size: 70px;
    color: antiquewhite;
    margin: 0;
}

#titulo {
    font-size: 50px;
    color: antiquewhite;
    margin: -20px;
}

#descricao {
    font-size: 25px;
    color: antiquewhite;
    padding-inline: 50px;
    margin: -30px 0 0 0;
}

#sobre {
    font-size: 35px;
    color: antiquewhite;
}

.pagatual {
    color: brown;
}

#aviso{
    font-size: 20px;
    color: antiquewhite;
    background-color: rgb(85, 0, 0);
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid antiquewhite;
    border-top: 1px solid antiquewhite;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.produto {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    width: calc(33.333% - 40px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.produto img {
    max-width: 100%;
    border-radius: 10px;
}

.produto p {
    margin: 10px 0 0;
    color: black;
    font-size: 16px;
}